node_modules/
.expo/
dist/
web-build/
*.log

# Flutter project artifacts
DartFlutter/.dart_tool/
DartFlutter/.flutter-plugins-dependencies
DartFlutter/.pub-cache/
DartFlutter/.pub/
DartFlutter/build/
DartFlutter/coverage/
DartFlutter/android/.gradle/
DartFlutter/android/local.properties
DartFlutter/ios/Flutter/.last_build_id
DartFlutter/ios/Flutter/Generated.xcconfig
DartFlutter/ios/Flutter/flutter_export_environment.sh
DartFlutter/.idea/
DartFlutter/*.iml

# Flutter/Dart/Pub related (generic)
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Miscellaneous
*.class
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ/IDE related
*.iml
*.ipr
*.iws
.idea/

# Symbolication/obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
